@{
    ViewData["Title"] = "Şifre Girişi";
}
<div class="container mt-5">
    <h2 class="text-center">BusinessPage Şifre Girişi</h2>
    <form method="post" asp-action="Password" asp-controller="BusinessPage" class="mt-4" autocomplete="off">
        <div class="form-group">
            <label for="password">Şifre:</label>
            <input type="password" class="form-control" id="password" name="password" required autofocus />
        </div>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger mt-2">@ViewBag.Error</div>
        }
        <button type="submit" class="btn btn-primary mt-2">Giriş Yap</button>
    </form>
</div> 